body {
  font-family: Georgia, serif;
  font-style: italic;
  background-color: #b3d5e0;
}

.header {
  padding: 25px;
  text-align: center;
  background: #FF9999;
  color: white;
  font-size: 15px;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 16.6%;
  padding: 5px;
  text-align: center;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.container {
  position: relative;
}

.image {
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #E35952;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #FF9999;
   color: white;
   text-align: center;
   font-weight: bold;
  }


@media (max-width:  960px) and (min-width: 481px) {
  .column {
  width: 33.3%;
}

  .text{
  font-size: 16px;
  }
}

@media (max-width: 480px) {
  body {
    padding-bottom: 300px;
  }

  .column {
  width: 100%;
}

  .row::after {
  display: none;
}

}