* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: rgba(176,191,211,1);
  font-family: ABeeZee;
  font-weight: Regular;
  font-size: 14px;
  text-transform: capitalize;
}

.centerplease{
  margin: auto;
  width: 80%;
  padding: 10px;
}

.centerball{
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}
.more{
  display: inline-block;
}

.anothercenter{
  margin: auto;
  width: 80%;
  padding: 10px;
  position: absolute;
  top: 90px;
}
.anotherone{
  margin: auto;
  width: 80%;
  padding: 10px;
  text-align: center;
}

.title {
  width: 348px;
  height: 140px;
  background: url("images/title.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 10px;
  left: 30px;
  transform: rotate(-11deg);
  overflow: hidden;
}

.search{
 width: 331.96px;
 height: 92px;
 background: url(images/search.png);
 background-repeat: no-repeat;
 background-position: center center;
 background-size: contain;
 opacity: 1;
 position: relative;
 top: -20px;
 left: 65px;
 transform: rotate(-10.34deg);
 overflow: hidden;
}


input[type="text"] {
  width: 357px;
  height: 47px;
  background: rgba(217,217,217,1);
  position: relative;
  border-top-left-radius: 63px;
  border-top-right-radius: 63px;
  border-bottom-left-radius: 63px;
  border-bottom-right-radius: 63px;
  overflow: hidden;
  font-family: ABeeZee;
  font-weight: Regular;
  font-size: 14px;
  text-indent: 15px;
  border: none;
}

input::placeholder {
  opacity: .7;
  text-indent: 15px;
  font-family: ABeeZee;
  font-weight: Regular;
  font-size: 14px;
  border: none;
}

.button {
  width: 40px;
  height: 40px;
  position: relative;
  background: url("images/ball.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  border: 0;
}

.sbutton{
top: 15px;
}

.sbutton:hover {
  border-radius:70%;
  background-color: red}

.sbutton:active {
  border-radius:70%;
  background-color: red;
  box-shadow: 0 6px #666;
  transform: translateY(4px);
}

.card {
  margin: auto;
  width: 417px;
  height: 650px;
  padding: 10px;
  opacity: 1;
  position: relative;
  border: 16px solid;
  border-top-left-radius: 27px;
  border-top-right-radius: 27px;
  border-bottom-left-radius: 27px;
  border-bottom-right-radius: 27px;
  overflow: hidden;
  box-shadow: 0 0 6px #666;
}

.none{
  background: #bab5b5;
  border:16px solid #c9c9c9;
}

.normal {
  background: #BABAAE;
  border:16px solid #cfcfc8;
}

.fighting {
  background: #c9492c;
  border:16px solid #A75543;
}

.flying {
  background: #78A2FF;
  border:16px solid #abbfed;
}

.poison {
  background: #A95CA0;
  border:16px solid #b581af;
}

.ground {
  background: #EECC55;
  border:16px solid #e3d6a8;
}

.rock {
  background: #CCBD72;
  border:16px solid #b8b088;
}

.bug {
  background: #C2D21E;
  border:16px solid #d8dea0;
}

.ghost {
  background: #7975D7;
  border:16px solid #b4b2ed;
}

.steel {
  background: #C4C2DB;
  border:16px solid #e3e1f5;
}

.fire {
  background: #FA5643;
  border:16px solid #ed9287;
}

.water {
  background: #56ADFF;
  border:16px solid #b1d1f0;
}

.grass {
  background: #8CD750;
  border:16px solid #baf090;
}

.electric {
  background: #FCCF26;
  border:16px solid #FAE067;
}

.psychic {
  background: #FA65B4;
  border:16px solid #ffb5dc;
}

.ice {
  background: #96F1FF;
  border:16px solid #c2f7ff;
}

.dragon {
  background: #8673FF;
  border:16px solid #c0b6fa;
}

.dark {
  background: #8D6855;
  border:16px solid #a38576;
}

.fairy {
  background: #F9AEFF;
  border:16px solid #fbccff;
}

.bname {
  width: 202px;
  height: 31px;
  background: white;
  position: absolute;
  top: 12px;
  left: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
  text-indent: 9px;
}

.nam{
  position: absolute;
  bottom: 6px;
}

.smallinputboxes{
  width: 72px;
  height: 31px;
  background: white;
  position: absolute;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
  text-indent: 8px;
}

.bhitpower {
  top: 12px;
  left: 290px;
}

.bnumber {
  top: 570px;
  left: 290px;
}

.inputboxes{
  width: 349px;
  height: 48px;
  background: white;
  position: absolute;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}

.btype {
  top: 350px;
  left: 15px;
}

.bheight {
  top: 425px;
  left: 15px;
}

.bweight {
  top: 500px;
  left: 15px;
}

.picture {
  padding-top: 140px;
  max-width: 100%;
  height: auto;
  text-align: center;
}

.ty {
  width: 266px;
  height: 38px;
  background: rgba(142,156,175,1);
  opacity: 1;
  position: fixed;
  top: 912px;
  left: 41%;
  border-top-left-radius: 63px;
  border-top-right-radius: 63px;
  border-bottom-left-radius: 63px;
  border-bottom-right-radius: 63px;
  overflow: hidden;
  text-align: center;
}

.characters {
  width: 387px;
  height: 91px;
  background: url("images/characters.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 63px;
  left: 40%;
  overflow: hidden;
}

.chcard{
  width: 372px;
  height: 600px;
  opacity: 1;
  position: relative;
  border-top-left-radius: 27px;
  border-top-right-radius: 27px;
  border-bottom-left-radius: 27px;
  border-bottom-right-radius: 27px;
  overflow: hidden;
  box-shadow: 0 0 6px #666;
}

.pname {
  width: 196px;
  height: 30px;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 7px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}

.namebox {
  top: 3px;
  text-indent: 12px;
}

.cinfo {
  width: 325px;
  height: 224px;
  opacity: 1;
  position: absolute;
  top: 300px;
  left: 7px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}

.infobox{
  width: 300px;
  padding-left: 15px;
  padding-top: 12px;
}

.picard{
  width: auto;
  height: 224px;
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 100px;
}

.misty {
  background: rgba(31,184,102,1);
  top: 100px;
  border: 16px solid rgba(97,212,150,1);
}

.mcolors {
  background: rgba(22,152,81,1);
}

.ash {
  background: rgba(255,45,45,1);
  top: 50px;
  border: 16px solid rgba(255,104,104,1);
}

.acolors {
  background: rgba(200,40,40,1);
}

.brock {
  background: rgba(255,125,31,1);
  top: 0px;
  border: 16px solid rgba(246,161,98,1);
}

.bcolors{
  background: rgba(214,103,22,1);
}

.homebut {
  width: 163px;
  height: 47px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: relative;
  border-top-left-radius: 63px;
  border-top-right-radius: 63px;
  border-bottom-left-radius: 63px;
  border-bottom-right-radius: 63px;
  overflow: hidden;
}


.homebut:active {
  background-color: red;
  box-shadow: 0 6px #666;
  transform: translateY(4px);
}

.homebox {
  position: absolute;
  left:24px;
  text-indent: 12px;
  padding-top: 12px;
}

.sidehome{
  position: fixed;
  right: 0px;
  top: 900px;
  width: 300px;
  padding: 10px;
}

.text {
  position: absolute;
  font-family: ABeeZee;
  font-weight: Regular;
  font-size: 16px;
  text-align: left;
}

a {
  text-decoration: none;
  color: black;
}

.tinfo {
  width: 331px;
  height: 100px;
  background: url("images/info.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  opacity: 1;
  position: relative;
  top: -20px;
  left: 65px;
  transform: rotate(-10deg);
  overflow: hidden;
}

.welcome {
  width: 538px;
  height: 97px;
  background: url("images/welcome.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  opacity: 1;
  position: absolute;
  top: 75px;
  left: 35%;
  overflow: hidden;
}

.hinfobox {
  margin: auto;
  width: 950px;
  height: 352px;
  padding: 10px;
  background: rgba(56,106,187,1);
  opacity: 1;
  position: relative;
  border: 16px solid rgba(25,38,83,1);
  border-top-left-radius: 27px;
  border-top-right-radius: 27px;
  border-bottom-left-radius: 27px;
  border-bottom-right-radius: 27px;
  overflow: hidden;
  color: white;
  box-shadow: 0 0 6px #666;
}

.pwiki{
  font-size: 15.5px;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  text-indent: 12px;
  width: 100;
}

.butts{
  width: 357px;
  height: 47px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: relative;
  border-top-left-radius: 63px;
  border-top-right-radius: 63px;
  border-bottom-left-radius: 63px;
  border-bottom-right-radius: 63px;
  overflow: hidden;
  text-align: center;
  border: none;
  font-family: ABeeZee;
  font-weight: Regular;
  font-size: 14px;
}

.butts:active {
  background-color: red;
  box-shadow: 0 6px #666;
  transform: translateY(4px);
}

audio::-webkit-media-controls-play-button, audio::-webkit-media-controls-panel {
     background-color: #ef3e33;
     color:#d5e6fe;

     }

.waudio {
  width: 454px;
  height: 47px;
  position: fixed;
  top: 912px;
  left: 30px;
}

.hpcred{
  padding-top: 10px;
}